body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #42210b;
}

.ad-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 300ms;
    background-color: #42210b;
}

div {
    width: 100vw;
    height: 100vh;
}
